<div class="main">
  <div class="main-pane">
    <div class="editor-header">
      <h3>
        <span ng-if="!ccte.isNew">
          <span i18n="tpl::Editing"></span>
          <span ng-bind="ccte.tpl.name"></span>
        </span>
        <span ng-if="ccte.isNew" i18n="tpl::Create New Template"></span>
        <div class="btn-group btn-group-sm pull-right"
          ng-if="!ccte.isNew">
          <button class="btn btn-default" ng-click="ccte.toggleLive()"
            ng-class="{active: ccte.live}">
            <span class="glyphicon glyphicon-refresh"></span>
            <span i18n="tpl::Live Update & Preview"></span>
          </button>
        </div>
        <div class="btn-group btn-group-sm pull-right">
          <button class="btn btn-default" ng-click="ccte.add()">
            <span class="glyphicon glyphicon-plus"></span>
            <span i18n="tpl::Add File"></span>
          </button>
        </div>
        <div class="btn-group btn-group-sm pull-right">
          <button class="btn btn-default" ng-click="ccte.save()"
            ng-disabled="!ccte.savable()">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            <span i18n="tpl::Save"></span>
          </button>
        </div>
      </h3>
    </div>
    <div class="editor-left col-xs-6">
      <form class="form-form form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label" i18n="tpl::Form"></label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="ccte.tpl.form"
              ng-model-options="{debounce: 500}">
          </div>
        </div>
        <div ng-repeat="file in ccte.tpl.files" ng-switch="file.type">
          <div class="btn-group btn-group-xs pull-right">
            <button class="btn btn-default"
              ng-click="ccte.array.duplicate(ccte.tpl.files, $index)">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button class="btn btn-default"
              ng-click="ccte.array.delete(ccte.tpl.files, $index)">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
            <button class="btn btn-default"
              ng-class="{disabled: ccte.array.edgeT(ccte.tpl.files, $index)}"
              ng-click="ccte.array.moveup(ccte.tpl.files, $index)">
              <span class="glyphicon glyphicon-chevron-up"></span>
            </button>
            <button class="btn btn-default"
              ng-class="{disabled: ccte.array.edgeB(ccte.tpl.files, $index)}"
              ng-click="ccte.array.movedown(ccte.tpl.files, $index)">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
          </div>
          <h4 i18n="tpl::File !!$index+1!!"></h4>
          <div class="form-group">
            <label class="col-sm-2 control-label" i18n="tpl::Type"></label>
            <div class="col-sm-10">
              <select class="form-control" ng-model="file.type"
                ng-options="type for type in ccte.types"></select>
            </div>
          </div>
          <div ng-switch-when="image">
            <div class="form-group">
              <label class="col-sm-2 control-label" i18n="tpl::Name"></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="file.name"
                  ng-model-options="{debounce: 500}">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" i18n="tpl::Image"></label>
              <div class="col-sm-10">
                <div class="thumbnail preview-image" ng-if="file.content">
                  <a target="_blank" href="{{ file.content }}">
                    <img ng-src="{{ file.content }}">
                  </a>
                </div>
                <input type="text" class="form-control" ng-model="file.content"
                  ng-model-options="{debounce: 500}">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" i18n="tpl::Upload"></label>
              <div class="col-sm-10">
                <p class="form-control-static">
                  <input accept=".jpg, .png" admin-uploader="file.content" type="file">
                </p>
              </div>
            </div>
          </div>
          <div ng-switch-default>
            <div class="form-group">
              <label class="col-sm-2 control-label" i18n="tpl::Content"></label>
              <div class="col-sm-10">
                <textarea class="form-control monospace" rows="10"
                  ng-model-options="{updateOn: 'blur'}"
                  ng-model="file.content"></textarea>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="editor-right col-xs-6">
      <div ng-if="ccte.isNew" class="text-center"
        i18n="tpl::Once you save the template, you can preview it here.">
      </div>
      <div class="template-preview" ng-if="!ccte.isNew">
        <iframe src="{{ ccte.previewUrl }}" width="100%" height="100%"
          template-preview frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>
