<div class="main-static">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span i18n="subs::Submissions"></span>
        <div class="btn-group btn-group-xs pull-right">
          <button type="button" class="btn btn-default"
            ng-click="cssl.statusFilter = undefined"
            ng-class="{active: cssl.statusFilter === undefined}"
            i18n="subs::Show All">
          </button>
          <button type="button" class="btn btn-default"
            ng-click="cssl.statusFilter = status.id"
            ng-class="{active: cssl.statusFilter === status.id}"
            ng-repeat="status in cssl.statuses">
            <span class="text-{{ status.type }}"
              ng-bind="cssl.tr('subs::statuses::' + status.label)"></span>
          </button>
        </div>
      </div>
      <table class="table table-bordered table-hover subs-list-table">
        <thead>
          <tr ng-if="cssl.submissions && cssl.submissions.length">
            <th i18n="subs::Portrait"></th>
            <th i18n="subs::Name"></th>
            <th i18n="subs::Created At" class="date"></th>
            <th i18n="subs::Status"></th>
            <th i18n="subs::View Details"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="!cssl.submissions || !cssl.submissions.length">
            <td class="text-center">
              <span i18n="subs::No submissions yet!"></span>
            </td>
          </tr>
          <tr ng-repeat="sub in cssl.submissions">
            <td subs-value="sub.data.portrait"
                subs-value-options="{imageSize: 'small', imageOnly: true}">
            </td>
            <td ng-bind="sub.data.name || '-'"></td>
            <td>
              <span time-ago="sub.created_at"></span>
            </td>
            <td>
              <span ng-init="status = cssl.statuses.findById(sub.status)"
                ng-bind="cssl.tr('subs::statuses::' + status.label)"
                class="label label-{{ status.type }}"></span>
            </td>
            <td>
              <a class="block" href="/submissions/view/{{ sub._id }}"
                i18n="subs::View Details"></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
