<div class="main-static">
  <div class="col-xs-10 col-xs-offset-1">
    <h4 class="subs-details-header">
      <div class="btn-group btn-group-sm pull-right">
        <a href="/forms/{{ cssv.sub.sub.form._id }}/submissions/{{ cssv.sub.sub.newer }}"
          class="btn btn-default" ng-class="{disabled: !cssv.sub.sub.newer}">
          <span class="glyphicon glyphicon-chevron-up"></span>
          <span i18n="subs::Newer"></span>
        </a>
        <a href="/forms/{{ cssv.sub.sub.form._id }}/submissions/{{ cssv.sub.sub.older }}"
          class="btn btn-default" ng-class="{disabled: !cssv.sub.sub.older}">
          <span class="glyphicon glyphicon-chevron-down"></span>
          <span i18n="subs::Older"></span>
        </a>
      </div>
      <a href="//{{ cssv.domains.public }}/{{ cssv.sub.sub.form.slug }}"
        target="_blank" ng-bind="cssv.sub.title"></a>
      <span ng-bind="cssv.sub.sub.form_index + 1"></span> /
      <span ng-bind="cssv.sub.sub.form.submissions"></span>
    </h4>
    <table class="table table-bordered subs-details-table">
      <tbody>
        <tr>
          <td class="key align-middle" i18n="subs::Status"></td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default"
                ng-click="cssv.setStatus(status)"
                ng-class="{active: cssv.sub.sub.status === status.id}"
                ng-repeat="status in cssv.statuses">
                <span class="label label-{{ status.type }}"
                  ng-bind="cssv.tr('subs::statuses::' + status.label)"></span>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="key" i18n="subs::Submiited On"></td>
          <td>
            <strong time-ago="cssv.sub.sub.created_at"></strong>
            <small ng-bind="cssv.sub.sub.created_at |
              date: 'yyyy-MM-dd HH:mm:ss'"></small>
          </td>
        </tr>
        <tr>
          <td class="key" i18n="subs::Data"></td>
          <td>
            <em ng-if="cssv.isEmpty(cssv.sub.data)"
              i18n="subs::This submission is empty."></em>
            <table class="table table-bordered subs-data-table"
              ng-if="!cssv.isEmpty(cssv.sub.data)">
              <thead>
                <tr>
                  <th i18n="subs::Column" class="key"></th>
                  <th i18n="subs::Value"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in cssv.sub.data">
                  <td ng-bind="item.label" class="key"></td>
                  <td subs-value="item.value" class="value"
                      subs-value-options="{imageSize: 'medium'}">
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td class="key" i18n="subs::Raw Data"></td>
          <td>
            <a href ng-click="cssv.show.rawdata=true"
              ng-hide="cssv.show.rawdata"
              i18n="subs::Show Raw Data"></a>
            <pre ng-show="cssv.show.rawdata"><code
              ng-bind="cssv.sub.rawdata"></code></pre>
          </td>
        </tr>
        <tr>
          <td class="key" i18n="subs::Raw Scheme"></td>
          <td>
            <a href ng-click="cssv.show.rawscheme=true"
              ng-hide="cssv.show.rawscheme"
              i18n="subs::Show Raw Scheme"></a>
            <pre ng-show="cssv.show.rawscheme"><code
              ng-bind="cssv.sub.rawscheme"></code></pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
