<div class="main-static">
  <div class="col-xs-8 col-xs-offset-2">
    <h3>
      <span ng-bind="cssv.sub.sub.form_index + 1"></span> /
      <span ng-bind="cssv.sub.sub.form.submissions"></span>
      <div class="btn-group btn-group-sm pull-right">
        <a href="/submissions/view/{{ cssv.sub.sub.newer }}"
          class="btn btn-default" ng-class="{disabled: !cssv.sub.sub.newer}">
          <span class="glyphicon glyphicon-chevron-up"></span>
          <span i18n="subs::Newer"></span>
        </a>
        <a href="/submissions/view/{{ cssv.sub.sub.older }}"
          class="btn btn-default" ng-class="{disabled: !cssv.sub.sub.older}">
          <span class="glyphicon glyphicon-chevron-down"></span>
          <span i18n="subs::Older"></span>
        </a>
      </div>
    </h3>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="form-sub-key" i18n="subs::Form"></td>
          <td>
            <span ng-bind="cssv.sub.title"></span>
            <a href="/{{ cssv.sub.sub.form.slug }}/{{ cssv.sub.sub.form_revision._id }}"
              target="_blank"><code ng-bind="cssv.sub.sub.form_revision._id"></code></a>
            (<a href="/{{ cssv.sub.sub.form.slug }}" target="_blank" i18n="subs::latest"></a>)
          </td>
        </tr>
        <tr>
          <td class="form-sub-key" i18n="subs::Data"></td>
          <td>
            <em ng-if="cssv.isEmpty(cssv.sub.data)"
              i18n="subs::This submission is empty."></em>
            <table class="table table-bordered table-striped">
              <tbody>
                <tr ng-repeat="item in cssv.sub.data">
                  <td ng-bind="item.label" class="form-sub-key"></td>
                  <td ng-bind="item.value"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td i18n="subs::Status"></td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default"
                ng-click="cssv.setStatus(status)"
                ng-class="{active: cssv.sub.sub.status === status.id}"
                ng-repeat="status in cssv.statuses">
                <span class="label label-{{ status.type }}"
                  ng-bind="cssv.tr('subs::statuses::' + status.label)"></span>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="form-sub-key" i18n="subs::Submiited On"></td>
          <td><span ng-bind="cssv.sub.sub.created_at |
            date: 'yyyy-MM-dd hh:mm:ss'"></span></td>
        </tr>
        <tr>
          <td class="form-sub-key" i18n="subs::Raw Data"></td>
          <td><pre><code ng-bind="cssv.sub.rawdata"></code></pre></td>
        </tr>
        <tr>
          <td class="form-sub-key" i18n="subs::Raw Scheme"></td>
          <td><pre><code ng-bind="cssv.sub.rawscheme"></code></pre></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
