<div class="main">
  <div class="main-pane">
    <form class="form-horizontal" ng-submit="aec.submit()">
      <h3>
        <span>Preview</span>
        <div class="btn-group btn-group-sm pull-right">
          <button class="btn btn-default" ng-click="aec.clear()">
            Clear Data
          </button>
        </div>
      </h3>
      <div class="main-pane-content">
        <div scheme="scheme" scheme-data="aec.object.data"
          ng-repeat="scheme in aec.object.scheme"></div>
        <div ng-if="aec.object.scheme.length > 0">
          <pre ng-bind="aec.formdata"></pre>
          <pre ng-bind="aec.schemedata"></pre>
        </div>
      </div>
    </form>
  </div>
  <div class="main-pane main-pane-right">
    <form class="form-horizontal">
      <h3>
        <span>Editor</span>
        <div class="btn-group btn-group-sm pull-right">
          <button class="btn btn-default" ng-click="aec.save()">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Save
          </button>
          <button class="btn btn-default" ng-click="aec.reset()">
            Reset
          </button>
        </div>
      </h3>
      <div class="main-pane-content">
        <h4 ng-repeat-start="scheme in aec.object.scheme">
          <span ng-bind="scheme.label || scheme.type"></span>
          <div class="btn-group btn-group-xs pull-right">
            <button class="btn btn-default"
              ng-click="aec.array.duplicate(aec.object.scheme, $index)">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button class="btn btn-default"
              ng-click="aec.array.delete(aec.object.scheme, $index)">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
            <button class="btn btn-default"
              ng-class="{disabled: aec.array.edgeT(aec.object.scheme, $index)}"
              ng-click="aec.array.moveup(aec.object.scheme, $index)">
              <span class="glyphicon glyphicon-chevron-up"></span>
            </button>
            <button class="btn btn-default"
              ng-class="{disabled: aec.array.edgeB(aec.object.scheme, $index)}"
              ng-click="aec.array.movedown(aec.object.scheme, $index)">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
          </div>
        </h4>
        <div scheme="scheme" scheme-data="scheme" scheme-render="editor"></div>
        <hr ng-repeat-end>
      </div>
    </form>
  </div>
</div>
