<div class="main">
  <div class="main-pane">
    <form class="form-horizontal" ng-submit="aec.submit()">
      <h3>
        <span>Preview</span>
        <div class="btn-group btn-group-sm pull-right">
          <button class="btn btn-default" ng-click="aec.clear()">
            Clear Data
          </button>
        </div>
      </h3>
      <div class="main-pane-content">
        <div scheme="scheme" scheme-data="aec.form.content.data"
          ng-repeat="scheme in aec.form.content.scheme"></div>
        <div ng-if="aec.form.content.scheme.length > 0">
          <pre ng-bind="aec.formdata"></pre>
          <pre ng-bind="aec.schemedata"></pre>
        </div>
      </div>
    </form>
  </div>
  <div class="main-pane main-pane-right">
    <form class="form-form form-horizontal">
      <h3>
        <span ng-if="aec.form.title">Editing {{aec.form.title}}</span>
        <span ng-if="!aec.form.title">Create New Form</span>
        <div class="btn-group btn-group-sm pull-right"
          ng-class="{open: addButtonClicked}">
          <button type="button" class="btn btn-default dropdown-toggle"
            ng-click="addButtonClicked=!addButtonClicked">
            Add <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="scheme in aec.schemes">
              <a href ng-click="$parent.addButtonClicked=false;
                aec.add(scheme.name, scheme.version)"
                ng-bind="scheme.title"></a>
            </li>
          </ul>
        </div>
        <div class="btn-group btn-group-sm pull-right">
          <button class="btn btn-default" ng-click="aec.save()">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Save
          </button>
        </div>
      </h3>
      <div class="main-pane-content">
        <h4 ng-repeat-start="scheme in aec.form.content.scheme">
          <span ng-bind="scheme.label || scheme.type"></span>
          <div class="btn-group btn-group-xs pull-right">
            <button class="btn btn-default"
              ng-click="aec.array.duplicate(aec.form.content.scheme, $index)">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button class="btn btn-default"
              ng-click="aec.array.delete(aec.form.content.scheme, $index)">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
            <button class="btn btn-default"
              ng-class="{disabled: aec.array.edgeT(aec.form.content.scheme, $index)}"
              ng-click="aec.array.moveup(aec.form.content.scheme, $index)">
              <span class="glyphicon glyphicon-chevron-up"></span>
            </button>
            <button class="btn btn-default"
              ng-class="{disabled: aec.array.edgeB(aec.form.content.scheme, $index)}"
              ng-click="aec.array.movedown(aec.form.content.scheme, $index)">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
          </div>
        </h4>
        <div scheme="scheme" scheme-data="scheme" scheme-render="editor"></div>
        <hr ng-repeat-end>
      </div>
    </form>
  </div>
</div>
