<div class="main-static container">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">Latest submissions</div>
      <table class="table table-bordered table-hover">
        <thead>
          <tr ng-if="ccsl.submissions && ccsl.submissions.length">
            <th>View</th>
            <th ng-repeat="label in ccsl.labels track by $index">
              <span ng-bind="ccsl.LABELS[label] || label"
                title="Model name: {{ ccsl.models[label] || label }}"></span>
            </th>
            <th class="date">Created At</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="!ccsl.submissions || !ccsl.submissions.length">
            <td class="text-center">
              No submissions yet!
            </td>
          </tr>
          <tr ng-repeat="sub in ccsl.submissions">
            <td>
              <div class="pull-left" ng-if="!ccsl.submissions.hasFormQuery">
                <a href="/manager/submissions?form={{ sub.form }}"><span
                  class="glyphicon glyphicon-chevron-right"></span></a>&nbsp;
              </div>
              <div class="pull-left" ng-if="ccsl.submissions.hasFormQuery">
                <a href="/manager/submissions"><span
                  class="glyphicon glyphicon-chevron-left"></span></a>&nbsp;
              </div>
              <a class="block" href="/manager/submissions/view/{{ sub._id }}">
                <span ng-bind="sub.form_revision.title"></span>
                [#<span ng-bind="sub.form_index + 1"></span>]
              </a>
            </td>
            <td ng-repeat="label in ccsl.labels track by $index"
              ng-bind="sub.data[label] || sub.data[ccsl.models[label]]"></td>
            <td ng-bind="sub.created_at | date: 'yyyy-MM-dd hh:mm:ss'"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        Columns
        <div class="btn-group btn-group-xs pull-right">
          <button class="btn btn-default"
            ng-click="ccsl.array.push(ccsl.labels, '')">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
          <button class="btn btn-default" ng-click="ccsl.reset()">
            RESET
          </button>
        </div>
      </div>
      <div class="panel-body" ng-if="!ccsl.labels || !ccsl.labels.length">
        <small>No columns! You may try RESET or ADD your own column.</small>
      </div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="model in ccsl.labels track by $index">
          <div class="input-group input-group-sm input-group-compact">
            <input type="text" class="form-control" ng-model="ccsl.labels[$index]"
              placeholder="Model / Label">
            <span class="input-group-btn">
              <button class="btn btn-default"
                ng-click="ccsl.array.duplicate(ccsl.labels, $index)">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
              <button class="btn btn-default"
                ng-click="ccsl.array.delete(ccsl.labels, $index)">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
              <button class="btn btn-default"
                ng-class="{disabled: ccsl.array.edgeT(ccsl.labels, $index)}"
                ng-click="ccsl.array.moveup(ccsl.labels, $index)">
                <span class="glyphicon glyphicon-chevron-up"></span>
              </button>
              <button class="btn btn-default"
                ng-class="{disabled: ccsl.array.edgeB(ccsl.labels, $index)}"
                ng-click="ccsl.array.movedown(ccsl.labels, $index)">
                <span class="glyphicon glyphicon-chevron-down"></span>
              </button>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
