<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-horizontal" role="form" ng-submit="submit()">
        <div class="modal-header" ng-show="title">
          <button type="button" class="close"
            ng-click="$hide()">&times;</button>
          <h4 class="modal-title" ng-bind="title"></h4>
        </div>
        <div class="modal-body">
          <div class="form-group" ng-if="form.parent">
            <label for="parent" class="col-sm-2 control-label"
              i18n="forms::Parent"></label>
            <div class="col-sm-10" ng-if="!parentDirty">
              <p class="form-control-static">
                <span ng-bind="form.parent"></span>
                <a href ng-click="$parent.parentDirty=true"
                  i18n="forms::edit"></a>
              </p>
            </div>
            <div class="col-sm-10" ng-if="parentDirty">
              <input type="text" class="form-control" id="parent"
                i18n="{placeholder: 'forms::Parent of the form'}"
                ng-model="form.parent">
            </div>
          </div>
          <div class="form-group">
            <label for="slug" class="col-sm-2 control-label"
              i18n="forms::Slug"></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="slug"
                i18n="{placeholder: 'forms::Slug of the form'}"
                ng-model="form.slug">
            </div>
          </div>
          <div class="form-group">
            <label for="title" class="col-sm-2 control-label"
              i18n="forms::Title"></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="title"
                i18n="{placeholder: 'forms::Title of the form'}"
                ng-model="form.title">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-info"
            ng-disabled="!form.title" i18n="forms::Save"></button>
        </div>
      </form>
    </div>
  </div>
</div>
