<div class="main">
  <div class="main-pane">
    <div class="editor-header">
      <h3>
        <span ng-if="!ccfe.isNew">
          <span i18n="forms::Editing"></span>
          <a href="//{{ ccfe.domains.public }}/{{ ccfe.form.form.slug }}"
            target="_blank" ng-bind="ccfe.form.title"></a>
        </span>
        <span ng-if="ccfe.isNew" i18n="forms::Create New Form"></span>
        <div class="btn-group btn-group-sm pull-right"
          ng-class="{open: previewMoreButtonClicked}">
          <button type="button" class="btn btn-default"
            ng-class="{active: ccfe.showPreview}"
            ng-click="ccfe.showPreview=!ccfe.showPreview">
            <span class="glyphicon glyphicon-search"></span>
            <span i18n="forms::Preview"></span>
          </button>
          <button type="button" class="btn btn-default dropdown-toggle"
            ng-click="previewMoreButtonClicked=!previewMoreButtonClicked">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href ng-click="ccfe.clearData(); previewMoreButtonClicked=false"
              i18n="forms::Clear Data"></a></li>
          </ul>
        </div>
        <div class="btn-group btn-group-sm pull-right">
          <button type="button" ng-click="undo(false)" class="btn btn-default"
            ng-disabled="!undoable(false)" i18n="{title:'forms::Undo'}">
            <span class="glyphicon glyphicon-share-alt flip-horizontally">
            </span>
          </button>
          <button type="button" ng-click="undo(true)" class="btn btn-default"
            ng-disabled="!undoable(true)" i18n="{title:'forms::Redo'}">
            <span class="glyphicon glyphicon-share-alt"></span>
          </button>
        </div>
        <div class="btn-group btn-group-sm pull-right"
          ng-class="{open: addButtonClicked}">
          <button type="button" class="btn btn-default dropdown-toggle"
            ng-click="addButtonClicked=!addButtonClicked">
            <span class="glyphicon glyphicon-plus"></span>
            <span i18n="forms::Add"></span> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="scheme in ccfe.schemes">
              <a href ng-click="$parent.addButtonClicked=false;
                ccfe.add(scheme.name, scheme.version)"
                ng-bind="ccfe.tr('schemes::' + scheme.title)"></a>
            </li>
            <li class="divider"></li>
            <li>
              <a href ng-click="addButtonClicked=false; ccfe.clear()">
                <span class="text-danger" i18n="forms::Clear All"></span></a>
            </li>
          </ul>
        </div>
        <div class="btn-group btn-group-sm pull-right">
          <button class="btn btn-default" ng-click="ccfe.save()">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            <span i18n="forms::Save"></span>
          </button>
          <button class="btn btn-default" ng-click="ccfe.access()"
            ng-if="!ccfe.isNew">
            <span class="glyphicon glyphicon-user"></span>
            <span i18n="forms::Access"></span>
            (<span ng-bind="ccfe.form.form.managers"></span>)
          </button>
        </div>
      </h3>
    </div>
    <div class="editor-left" ng-class="{true: 'col-xs-8',
    false: 'col-xs-12'}[ccfe.showPreview]">
      <form class="form-form form-horizontal" historian="ccfe.form.content.scheme">
        <h4 class="scheme-header" ng-repeat-start="scheme in ccfe.form.content.scheme">
          <span ng-bind="scheme.label || ccfe.tr('forms::(unlabeled)')"></span>
          <span class="label label-default label-type text-uppercase"
            ng-bind="scheme.type"></span>
          <div class="btn-group btn-group-xs pull-right">
            <button class="btn btn-default"
              ng-click="ccfe.array.duplicate(ccfe.form.content.scheme, $index)">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button class="btn btn-default"
              ng-click="ccfe.array.delete(ccfe.form.content.scheme, $index)">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
            <button class="btn btn-default"
              ng-class="{disabled: ccfe.array.edgeT(ccfe.form.content.scheme, $index)}"
              ng-click="ccfe.array.moveup(ccfe.form.content.scheme, $index)">
              <span class="glyphicon glyphicon-chevron-up"></span>
            </button>
            <button class="btn btn-default"
              ng-class="{disabled: ccfe.array.edgeB(ccfe.form.content.scheme, $index)}"
              ng-click="ccfe.array.movedown(ccfe.form.content.scheme, $index)">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
          </div>
        </h4>
        <div class="row row-scheme" scheme="scheme" scheme-data="scheme"
          scheme-render="editor"></div>
        <hr ng-repeat-end>
        <div ng-if="!ccfe.form.content.scheme ||
          !ccfe.form.content.scheme.length" i18n="forms::To start, please click
          the 'Add' button, then choose a scheme.">
        </div>
      </form>
    </div>
    <div class="editor-right col-xs-4" ng-show="ccfe.showPreview">
      <form class="form-horizontal" ng-submit="ccfe.submit()">
        <div>
          <div scheme="scheme" scheme-data="ccfe.form.content.data"
            ng-repeat="scheme in ccfe.form.content.scheme"></div>
          <div ng-if="ccfe.form.content.scheme.length > 0">
            <pre ng-bind="ccfe.formdata || ccfe.tr(ccfe.def_formdata)"></pre>
            <pre ng-bind="ccfe.schemedata"></pre>
          </div>
          <div ng-if="!ccfe.form.content.scheme ||
            !ccfe.form.content.scheme.length" i18n="forms::Nothing to preview.">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
