<div class="main">
  <div class="main-pane">
    <form class="form-horizontal" ng-submit="ccfe.submit()">
      <h3>
        <span>Preview</span>
        <div class="btn-group btn-group-sm pull-right">
          <button class="btn btn-default" ng-click="ccfe.clear()">
            Clear Data
          </button>
        </div>
      </h3>
      <div class="main-pane-content">
        <div scheme="scheme" scheme-data="ccfe.form.content.data"
          ng-repeat="scheme in ccfe.form.content.scheme"></div>
        <div ng-if="ccfe.form.content.scheme.length > 0">
          <pre ng-bind="ccfe.formdata"></pre>
          <pre ng-bind="ccfe.schemedata"></pre>
        </div>
      </div>
    </form>
  </div>
  <div class="main-pane main-pane-right">
    <form class="form-form form-horizontal">
      <h3>
        <span ng-if="!ccfe.isNew">Editing
          <a href="/{{ ccfe.form.form.slug }}" target="_blank"
            ng-bind="ccfe.form.title"></a>
        </span>
        <span ng-if="ccfe.isNew">Create New Form</span>
        <div class="btn-group btn-group-sm pull-right"
          ng-class="{open: addButtonClicked}">
          <button type="button" class="btn btn-default dropdown-toggle"
            ng-click="addButtonClicked=!addButtonClicked">
            Add <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="scheme in ccfe.schemes">
              <a href ng-click="$parent.addButtonClicked=false;
                ccfe.add(scheme.name, scheme.version)"
                ng-bind="scheme.title"></a>
            </li>
          </ul>
        </div>
        <div class="btn-group btn-group-sm pull-right">
          <button class="btn btn-default" ng-click="ccfe.save()">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Save
          </button>
          <button class="btn btn-default" ng-click="ccfe.access()"
            ng-if="!ccfe.isNew">
            <span class="glyphicon glyphicon-user"></span>
            Access Control
          </button>
        </div>
      </h3>
      <div class="main-pane-content">
        <h4 ng-repeat-start="scheme in ccfe.form.content.scheme">
          <span ng-bind="scheme.label || '(no-label)'"></span>
          <span class="label label-default label-type text-uppercase"
            ng-bind="scheme.type"></span>
          <div class="btn-group btn-group-xs pull-right">
            <button class="btn btn-default"
              ng-click="ccfe.array.duplicate(ccfe.form.content.scheme, $index)">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button class="btn btn-default"
              ng-click="ccfe.array.delete(ccfe.form.content.scheme, $index)">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
            <button class="btn btn-default"
              ng-class="{disabled: ccfe.array.edgeT(ccfe.form.content.scheme, $index)}"
              ng-click="ccfe.array.moveup(ccfe.form.content.scheme, $index)">
              <span class="glyphicon glyphicon-chevron-up"></span>
            </button>
            <button class="btn btn-default"
              ng-class="{disabled: ccfe.array.edgeB(ccfe.form.content.scheme, $index)}"
              ng-click="ccfe.array.movedown(ccfe.form.content.scheme, $index)">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
          </div>
        </h4>
        <div scheme="scheme" scheme-data="scheme" scheme-render="editor"></div>
        <hr ng-repeat-end>
      </div>
    </form>
  </div>
</div>
