<div class="main-static">
  <div class="col-xs-8 col-xs-offset-2">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="slug">Slug</th>
          <th>Name</th>
          <th class="date">Created At</th>
          <th class="date">Updated At</th>
          <th class="number">Revisions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="!amc.forms || !amc.forms.length">
          <td colspan="4" class="text-center">
            No forms has been created yet. <a href="/create">Create</a> one now.
          </td>
        </tr>
        <tr ng-repeat="form in amc.forms">
          <td class="slug">
            <a class="block" href="/{{ form.slug }}" target="_blank">
              <span class="glyphicon glyphicon-new-window"></span>
              {{ form.slug }}
            </a>
          </td>
          <td>
            <a class="block" href="/control/forms/edit/{{ form._id }}"
              ng-bind="form.head.title || '(untitled)'"></a>
          </td>
          <td ng-bind="form.created_at | date: 'yyyy-MM-dd hh:mm:ss'"></td>
          <td ng-bind="form.updated_at | date: 'yyyy-MM-dd hh:mm:ss'"></td>
          <td ng-bind="form.commits.length"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
