<div class="main-static">
  <div class="col-xs-3">
    <form ng-submit="ccfl.filter()">
      <div class="panel panel-default">
        <div class="panel-heading" i18n="forms::Filter"></div>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <input type="text" class="form-control" ng-model="ccfl.manager"
                  i18n="{placeholder: 'forms::Show only forms of this manager'}">
              </td>
            </tr>
            <tr>
              <td>
                <button class="btn btn-info" type="submit"
                  i18n="forms::Filter"></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
  <div class="col-xs-9">
    <div class="panel panel-default">
      <div class="panel-heading" i18n="forms::Forms"></div>
      <table class="table table-bordered table-hover">
        <thead ng-if="ccfl.forms && ccfl.forms.length">
          <tr>
            <th i18n="forms::Name"></th>
            <th class="number" i18n="forms::Submissions"></th>
            <th class="number" i18n="forms::Managers"></th>
            <th class="number" i18n="forms::Rev."></th>
            <th class="date" i18n="forms::Created At"></th>
            <th class="date" i18n="forms::Updated At"></th>
            <th class="slug" i18n="forms::Slug"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="!ccfl.forms || !ccfl.forms.length">
            <td class="text-center">
              <span i18n="forms::No forms has been created yet."></span>
              <a href="/forms/create" class="btn btn-xs btn-info"
                i18n="forms::Create"></a>
            </td>
          </tr>
          <tr ng-repeat="form in ccfl.forms">
            <td>
              <a class="block" href="/forms/edit/{{ form._id }}"
                ng-bind="form.head.title || '(untitled)'"></a>
            </td>
            <td>
              <a href="/submissions?form={{ form.slug }}"
                ng-bind="form.submissions" class="block"></a>
            </td>
            <td>
              <a href class="block" ng-click="ccfl.access(form)"
                ng-bind="form.managers"></a>
            </td>
            <td ng-bind="form.commits.length"></td>
            <td ng-bind="form.created_at | date: 'yyyy-MM-dd hh:mm:ss'"></td>
            <td ng-bind="form.updated_at | date: 'yyyy-MM-dd hh:mm:ss'"></td>
            <td class="slug">
              <a class="block" href="/{{ form.slug }}" target="_blank">
                <span class="glyphicon glyphicon-new-window"></span>
                <span ng-bind="form.slug"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
