<div class="main-static">
  <div class="col-xs-3">
    <form ng-submit="ccfl.filter()">
      <div class="panel panel-default">
        <div class="panel-heading">Filter</div>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <input type="text" class="form-control" ng-model="ccfl.manager"
                  placeholder="Show only forms of this manager">
              </td>
            </tr>
            <tr>
              <td>
                <button class="btn btn-info" type="submit">Filter</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
  <div class="col-xs-9">
    <div class="panel panel-default">
      <div class="panel-heading">Forms</div>
      <table class="table table-bordered table-hover">
        <thead ng-if="ccfl.forms && ccfl.forms.length">
          <tr>
            <th>Name</th>
            <th class="number">Submissions</th>
            <th class="number">Managers</th>
            <th class="number">Rev.</th>
            <th class="date">Created At</th>
            <th class="date">Updated At</th>
            <th class="slug">Slug</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="!ccfl.forms || !ccfl.forms.length">
            <td class="text-center">
              No forms has been created yet. <a href="/create">Create</a> one now.
            </td>
          </tr>
          <tr ng-repeat="form in ccfl.forms">
            <td>
              <a class="block" href="/control/forms/edit/{{ form._id }}"
                ng-bind="form.head.title || '(untitled)'"></a>
            </td>
            <td>
              <a href="/control/submissions?form={{ form.slug }}"
                ng-bind="form.submissions" class="block"></a>
            </td>
            <td>
              <a href class="block" ng-click="ccfl.access(form)"
                ng-bind="form.managers"></a>
            </td>
            <td ng-bind="form.commits.length"></td>
            <td ng-bind="form.created_at | date: 'yyyy-MM-dd hh:mm:ss'"></td>
            <td ng-bind="form.updated_at | date: 'yyyy-MM-dd hh:mm:ss'"></td>
            <td class="slug">
              <a class="block" href="/{{ form.slug }}" target="_blank">
                <span class="glyphicon glyphicon-new-window"></span>
                {{ form.slug }}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
