<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-horizontal" role="form" ng-submit="submit()">
        <div class="modal-header" ng-show="title">
          <button type="button" class="close"
            ng-click="$hide()">&times;</button>
          <h4 class="modal-title" ng-bind="title"></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-6">
              <div class="panel panel-default">
                <div class="panel-heading" i18n="forms::Search results"></div>
                <div class="list-group">
                  <div class="list-group-item">
                    <input class="form-control" type="text"
                      placeholder="Search form" ng-model="query"
                      ng-model-options="{debounce: 300}">
                  </div>
                  <div class="list-group-item"
                    ng-repeat="result in results">
                    <a href="/forms/edit/{{ result._id }}"
                      target="_blank" ng-bind="result.title"></a>
                    <div class="pull-right">
                      <button class="btn btn-xs btn-success" i18n="forms::Add"
                        type="button" ng-click="add(forms, result)">
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="panel panel-default">
                <div class="panel-heading" i18n="forms::Current forms"></div>
                <div class="list-group">
                  <div class="list-group-item"
                    ng-if="!forms || !forms.length">
                    <p i18n="forms::This manager will have no access to any form."></p>
                  </div>
                  <div class="list-group-item"
                    ng-repeat="form in forms">
                    <a href="/forms/edit/{{ form._id }}"
                      target="_blank" ng-bind="form.title"></a>
                    <div class="pull-right">
                      <button class="btn btn-xs btn-danger" i18n="forms::Remove"
                        type="button" ng-click="remove(forms, $index)">
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-toolbar">
            <button type="submit" class="btn btn-info"
              ng-disabled="!changed()" i18n="forms::Save"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
