@import (less) 'shared/shared.less';
@import (less) 'shared/loading-bar.less';
@import (less) 'dropdowns-enhancement.css';

.nothing {
  padding: 30px;
  text-align: center;
}

.main {
  padding: 30px 0 200px;
}
