<!DOCTYPE html>
<html ng-app="excavator">

<head>
  <title>Manager</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap-theme.css">
  <link rel="stylesheet" href="/css/manager.css">
  <base href="/">
</head>

<body>
  <div nav-view></div>
  <div ng-view></div>

  <script src="/js/angular.js"></script>
  <script src="/js/angular-route.js"></script>
  <script src="/js/backend/user.js"></script>
  <script src="/js/func/localstorage.js"></script>
  <script src="/js/func/location.js"></script>
  <script src="/js/func/panic.js"></script>
  <script src="/js/manager.js"></script>
  <script src="/js/manager/login.js"></script>
  <script src="/js/manager/manager.js"></script>
  <script src="/js/manager/nav.js"></script>
  <script src="/js/manager/routes.js"></script>

  <script src="/js/angular-strap/dimensions.js"></script>
  <script src="/js/angular-strap/modal.js"></script>
</body>

</html>
