<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" i18n="nav::Form Generator Admin"></a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li ng-class="{active: ifPathIs('/forms')}">
          <a href="/forms" i18n="nav::All Forms"></a>
        </li>
        <li ng-class="{active: ifPathHas('/forms/edit')}"
          ng-if="is('form-edit')">
          <a href="/forms/edit/{{metaData.id}}"
            i18n="nav::Editing !!metaData.title!!"></a>
        </li>
        <li ng-class="{active:ifPathIs('/forms/create')}">
          <a href="/forms/create" i18n="nav::Create"></a>
        </li>
        <li ng-class="{active:ifPathIs('/submissions')}">
          <a href="/submissions" i18n="nav::Submissions"></a>
        </li>
        <li ng-class="{active:
          ifPathHas('/submissions/view')}"
          ng-if="is('submission-view')">
          <a href="/submissions/view/{{metaData.id}}"
            i18n="nav::Viewing !!metaData.title!!"></a>
        </li>
        <li ng-class="{active:ifPathIs('/managers')}">
          <a href="/managers" i18n="nav::Managers"></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="btn-group btn-group-xs">
          <button type="button" class="btn btn-default"
            ng-class="{active: linguist.lang === key}"
            ng-repeat="(key, lang) in linguist.langs" ng-bind="lang"
            ng-click="linguist.setLang(key)"></button>
        </a></li>
        <li ng-if="status.loggedIn" class="dropdown"
          ng-class="{open: loggedInOpen}">
          <a href ng-click="loggedInOpen=!loggedInOpen">
            <span i18n="nav::Logged in as"></span>
            <b ng-bind="status.username"></b>
            <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href ng-click="logout();
              loggedInOpen=false" i18n="nav::Log out"></a></li>
          </ul>
        </li>
        <li ng-if="!status.loggedIn"
          ng-class="{active: ifPathIs('/login')}">
          <a href="/login" i18n="nav::Log In"></a></li>
      </ul>
    </div>
  </div>
</nav>
