<div class="main container" ng-if="cpf.form">
  <div class="main-form col-xs-10 col-xs-offset-1">
    <h2 class="text-center" ng-bind="cpf.form.title"></h2>
    <h5 class="text-center"
      ng-if="cpf.form.isViewingRevision && !cpf.form.isLatest">
      This is an old version.
      (<a href="{{ cpf.form.currentPermalink }}"
        ng-bind="cpf.form.form.index._id"></a>)
      (see the <a href="{{ cpf.form.latestPermalink }}">latest</a> one)
    </h5>
    <h5 class="text-center"
      ng-if="cpf.form.isViewingRevision && cpf.form.isLatest">
      This is the
      <a href="{{ cpf.form.link }}">latest</a>
      version.
      (<a href="{{ cpf.form.currentPermalink }}"
        ng-bind="cpf.form.form.index._id"></a>)
    </h5>
    <hr>
    <form class="form-horizontal" ng-submit="cpf.submit()">
      <div scheme="scheme" scheme-data="cpf.form.content.data"
        ng-repeat="scheme in cpf.form.content.scheme"></div>
    </form>
  </div>
</div>
