<div class="main-static">
  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-heading">Managers</div>
      <table class="table table-bordered table-hover">
        <thead>
          <tr ng-if="ccml.managers && ccml.managers.length">
            <th>Username</th>
            <th>Actions</th>
            <th class="number">Forms</th>
            <th class="date">Created At</th>
            <th class="date">Updated At</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="!ccml.managers || !ccml.managers.length">
            <td class="text-center">
              No managers yet!
            </td>
          </tr>
          <tr ng-repeat="manager in ccml.managers">
            <td>
              <span ng-bind="manager.username"
                ng-class="{'text-danger': manager.banned}"></span>
              <span class="text-danger" ng-if="manager.banned">(banned)</span>
            </td>
            <td>
              <div class="btn-group btn-group-xs">
                <a class="btn btn-default"
                  href="/manager?token={{ manager.token }}" target="_blank"
                  title="Log in as {{ manager.username }}">Log In</a>
                <a class="btn btn-default"
                  title="Delete manager {{ manager.username }}"
                  ng-click="ccml.manager.delete(manager)">Delete</a>
                <a class="btn btn-default"
                  title="Ban manager {{ manager.username }}"
                  ng-click="ccml.manager.ban(manager)">
                  {{manager.banned&&'Unban'||'Ban'}} User</a>
                <a class="btn btn-default"
                  title="Allow / disallow form access to {{ manager.username }}"
                  ng-click="ccml.manager.access(manager)">Form Access</a>
              </div>
            </td>
            <td>
              <a href="/control/forms?manager={{ manager.username }}"
                ng-bind="manager.forms.length" class="block"></a>
            </td>
            <td ng-bind="manager.created_at | date: 'yyyy-MM-dd hh:mm:ss'"></td>
            <td ng-bind="manager.updated_at | date: 'yyyy-MM-dd hh:mm:ss'"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-3">
    <form ng-submit="ccml.manager.register()">
      <div class="panel panel-default">
        <div class="panel-heading">Add Manager</div>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <input type="text" class="form-control"
                  ng-model="ccml.manager.username" placeholder="Username">
              </td>
            </tr>
            <tr>
              <td>
                <input type="password" class="form-control"
                  ng-model="ccml.manager.password" placeholder="Password">
              </td>
            </tr>
            <tr>
              <td>
                <button class="btn btn-info" type="submit"
                  ng-disabled="!ccml.manager.username ||
                  !ccml.manager.password">Add manager</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>
